@page "/"

<PageTitle>Rebel parkrun Cup Manager - Home</PageTitle>
<head><link rel="icon" type="image/png" href="favicon_2.png" /></head>
<h3>WELCOME</h3>

This is version 0.1 of the Rebel Runners parkrun Cup Manager. 
<p>Development is currently in progress with new features for the minimum viable product underway.</p>

<p><b>Current Features:</b>
<li>Add runners facility</li>
<li>Delete runner facility</li>
<li>View runners facility</li>
</p>

<p>Use the side navigation bar to switch between screens.  Press 'Home' to return here.</p>

<p>Further instructions will be added as new features are developed.</p>

<p><b>Release Notes:</b>
<li>v0.1: 8th Feb 2025 - Pre-release, overall framework and simple runner database entry.</li>
</p>