@page "/"

<PageTitle>Rebel parkrun Cup Manager - Home</PageTitle>
<head><link rel="icon" type="image/png" href="favicon_2.png" /></head>
<h3>WELCOME REBEL!</h3>

<b>This is version 0.23 of the Rebel Runners parkrun Cup Manager.</b>
<p>Development is currently in progress for the first release.</p>

<p>
<b>Current Features:</b>
<li>Runner maintenance</li>
<li>Tournament maintenance</li>
<li>parkrun locations maintenance</li>
<li>Competitors maintenance</li>
<li>Ties maintenance</li>
<li>parkrun integration to retrieve results</li>
</p>

<p>Use the side navigation bar to switch between screens.  Press <b>HOME</b> to return here.  
Further instructions will be added as new features are developed.</p>

<p><b>Changelog:</b></p>

<div class="table-container" style="max-height: calc(100vh - 500px)">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>v0.23</td><td>26-Mar-2025</td><td>Validation updates.</td></tr>
            <tr><td>v0.22</td><td>25-Mar-2025</td><td>Add ability to edit winner (use with caution!)</td></tr>
            <tr><td>v0.21</td><td>24-Mar-2025</td><td>Improvements to winner logic.</td></tr>
            <tr><td>v0.20</td><td>22-Mar-2025</td><td>Completed results retrieval for ties.</td></tr>
            <tr><td>v0.19</td><td>20-Mar-2025</td><td>Started results retrieval for ties.</td></tr>
            <tr><td>v0.18</td><td>17-Mar-2025</td><td>parkrun website integration.</td></tr>
            <tr><td>v0.17</td><td>15-Mar-2025</td><td>Cosmetic updates to screens.</td></tr>
            <tr><td>v0.16</td><td>14-Mar-2025</td><td>Tie row edit and 2025 Ties added.</td></tr>
            <tr><td>v0.15</td><td>14-Mar-2025</td><td>Initial Tie entry validation and round picker.</td></tr>
            <tr><td>v0.14</td><td>13-Mar-2025</td><td>Basic Tie adding and removal.</td></tr>
            <tr><td>v0.13</td><td>11-Mar-2025</td><td>Added Ties viewing grid (after a lengthy break!)</td></tr>
            <tr><td>v0.12</td><td>23-Feb-2025</td><td>Ties maintenance input form.</td></tr>
            <tr><td>v0.11</td><td>22-Feb-2025</td><td>Created Tie entity and started maintenance screen.</td></tr>
            <tr><td>v0.10</td><td>19-Feb-2025</td><td>Tightened up validation on pages, fixed all compilation warnings to-date.</td></tr>
            <tr><td>v0.9</td><td>18-Feb-2025</td><td>Locations maintenance added.</td></tr>
            <tr><td>v0.8</td><td>17-Feb-2025</td><td>Competitors maintenance completed, baselines added to 2025 competitiors.</td></tr>
            <tr><td>v0.7</td><td>16-Feb-2025</td><td>Competitors maintenance continued (loading only).</td></tr>
            <tr><td>v0.6</td><td>15-Feb-2025</td><td>Initial competitors maintenance.</td></tr>
            <tr><td>v0.5</td><td>12-Feb-2025</td><td>Added tournaments maintenance.</td></tr>
            <tr><td>v0.4</td><td>11-Feb-2025</td><td>Added parkrun id's, renamed baselines entity to competitors.</td></tr>
            <tr><td>v0.3</td><td>10-Feb-2025</td><td>Runner maintenance completed, tournament and baseline entities created.</td></tr>
            <tr><td>v0.2</td><td>09-Feb-2025</td><td>Initial runner maintenance.</td></tr>
            <tr><td>v0.1</td><td>08-Feb-2025</td><td>Project started, overall framework set up and database created.</td></tr>
        </tbody>        
    </table>
</div>