@page "/"

<PageTitle>Rebel parkrun Cup Manager - Home</PageTitle>
<head><link rel="icon" type="image/png" href="favicon_2.png" /></head>
<h3>WELCOME REBEL!</h3>

<b>This is version 0.5 of the Rebel Runners parkrun Cup Manager.</b>
<p>Development is currently in progress for the first release.</p>

<p>
<b>Current Features:</b>
<li>Runner maintenance</li>
</p>

<p>Use the side navigation bar to switch between screens.  Press <b>HOME</b> to return here.</p>

<p>Further instructions will be added as new features are developed.</p>

<p><b>Change log:</b>
<li>v0.1: 08-Feb-2025 - Project started, overall framework set up and database created.</li>
<li>v0.2: 09-Feb-2025 - Initial runner maintenance.</li>
<li>v0.3: 10-Feb-2025 - Runner maintenance completed, tournament and baseline entities created.</li>
<li>v0.4: 11-Feb-2025 - Added parkrun id's, renamed baselines entity to competitors.</li>
<li>v0.5: 12-Feb-2025 - Initial tournaments maintenance.</li>
</p>