@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://rebelrunnersmedway.co.uk" color=black target="_blank"><img src="rr2.png" width="75%" height="75%"></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
